<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="LogOutput" value=""/>
    <add key="Sender" value=""/>
    <add key="Username" value=""/>
    <add key="Password" value=""/>
    <add key="SubType" value=""/>
    <add key="Host" value=""/>
    <add key="Port" value=""/>
  </appSettings>
</configuration>